.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__aTwvS {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__aTwvS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__aTwvS > :global(.__wab_flex-container) > *,
.freeBox__aTwvS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aTwvS > :global(.__wab_flex-container) > picture > img,
.freeBox__aTwvS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aTwvS {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kHnF4 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__h8C7B {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__amSnm:global(.__wab_instance) {
  position: relative;
}
.img___3MpAh {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___3MpAh > picture > img {
  object-fit: cover;
}
.img___3MpAh > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__gtcns:global(.__wab_instance) {
  position: relative;
}
.img__lItR {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__lItR > picture > img {
  object-fit: cover;
}
.img__lItR > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__mYmVb:global(.__wab_instance) {
  position: relative;
}
.img__dNcph {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__dNcph > picture > img {
  object-fit: cover;
}
.img__dNcph > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__ioEij:global(.__wab_instance) {
  position: relative;
}
.img___8BF8 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___8BF8 > picture > img {
  object-fit: cover;
}
.img___8BF8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-jxEW7E9YDiqvo5);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__iMke5 {
  flex-direction: column;
  display: flex;
}
.freeBox__iMke5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iMke5 > :global(.__wab_flex-container) > *,
.freeBox__iMke5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iMke5 > :global(.__wab_flex-container) > picture > img,
.freeBox__iMke5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sRbsc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__brLeT {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__jh8WS {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__jh8WS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jh8WS > :global(.__wab_flex-container) > *,
.freeBox__jh8WS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jh8WS > :global(.__wab_flex-container) > picture > img,
.freeBox__jh8WS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__cLIj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ecMvr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___5Lp4Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kNwksbMLrALa2w);
  width: 28px;
  height: 28px;
}
.text__nbT4R {
  padding-left: 0px;
}
.column__qAsZv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pePHk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wFoYc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kNwksbMLrALa2w);
  width: 28px;
  height: 28px;
}
.text__t2App {
  padding-left: 0px;
}
.column__y13O {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__e41Oj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3NfZn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kNwksbMLrALa2w);
  width: 28px;
  height: 28px;
}
.text__fRneU {
  padding-left: 0px;
}
.column__hnt1W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___15Za:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cdQk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kNwksbMLrALa2w);
  width: 28px;
  height: 28px;
}
.text__kp2F {
  padding-left: 0px;
}
.freeBox__heOpk {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__heOpk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__heOpk > :global(.__wab_flex-container) > *,
.freeBox__heOpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__heOpk > :global(.__wab_flex-container) > picture > img,
.freeBox__heOpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__heOpk {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__jtm1Z {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__jtm1Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jtm1Z > :global(.__wab_flex-container) > *,
.freeBox__jtm1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jtm1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__jtm1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__jxIoT {
  flex-direction: column;
  display: flex;
}
.freeBox__jxIoT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jxIoT > :global(.__wab_flex-container) > *,
.freeBox__jxIoT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jxIoT > :global(.__wab_flex-container) > picture > img,
.freeBox__jxIoT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__uCUi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__rDkDi {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rDkDi {
    text-align: center;
  }
}
.text__f7Mfn {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__ki8M8 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ki8M8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ki8M8 > :global(.__wab_flex-container) > *,
.freeBox__ki8M8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ki8M8 > :global(.__wab_flex-container) > picture > img,
.freeBox__ki8M8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ki8M8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ki8M8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ki8M8 > :global(.__wab_flex-container) > *,
  .freeBox__ki8M8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ki8M8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ki8M8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___0IuoL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__uCdUh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__erNz8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__scsyr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vxsjz {
  height: auto;
}
.priceCard__zuGCc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zxUMx {
  color: var(--token-egIuYaKTY_2Xgt);
}
.valueProp___1QFj0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yhJpd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5OjVo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sX8Ek {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___3VSv {
  height: auto;
}
.priceCard__qeLj5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zjQla {
  color: var(--token-osN2o_b5kjwsan);
}
.valueProp__tZjh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m1MxJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xoiUt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wXklj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__olRD {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__jvIew {
  height: auto;
}
.priceCard__jzJmd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__v3JHa {
  color: var(--token-0sa7bM09xq38ri);
}
.valueProp__tby4X:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___28IJp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__duklz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mhU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zDu8X {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__eyZca {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
