.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__n6JRl {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-dKfSGDNiS9ISuq);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__n6JRl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__n6JRl > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__n6JRl > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__n6JRl > :global(.__wab_flex-container) > *,
.columns__n6JRl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__n6JRl > :global(.__wab_flex-container) > picture > img,
.columns__n6JRl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n6JRl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n6JRl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n6JRl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n6JRl > :global(.__wab_flex-container) > *,
  .columns__n6JRl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__n6JRl > :global(.__wab_flex-container) > picture > img,
  .columns__n6JRl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__g6OVx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fGu48 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__fGu48 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fGu48 > :global(.__wab_flex-container) > *,
.freeBox__fGu48 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fGu48 > :global(.__wab_flex-container) > picture > img,
.freeBox__fGu48
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__xdEx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xdEx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xdEx > :global(.__wab_flex-container) > *,
.freeBox__xdEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xdEx > :global(.__wab_flex-container) > picture > img,
.freeBox__xdEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eEi6U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__cjXAn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-PmJo5m5zf2zvQB);
  background: #ffffff;
  padding: 4px 8px;
}
.text__wyZhH {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-tt31VgvIOtMbi2);
}
.text__n7Knb {
  font-size: 20px;
  color: var(--token-PmJo5m5zf2zvQB);
  line-height: 28px;
}
.freeBox__hUwj6 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hUwj6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hUwj6 > :global(.__wab_flex-container) > *,
.freeBox__hUwj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hUwj6 > :global(.__wab_flex-container) > picture > img,
.freeBox__hUwj6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__dbtaj:global(.__wab_instance) {
  position: relative;
}
.svg___2QNkx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1YeQk {
  height: auto;
}
.svg__oPTb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oaYNa:global(.__wab_instance) {
  position: relative;
}
.svg__gaz4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xrYGy {
  height: auto;
  font-weight: 400;
}
.svg__tnC4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__jzbci {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__u3EdS {
  flex-direction: column;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  height: auto;
}
.freeBox__u3EdS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__u3EdS > :global(.__wab_flex-container) > *,
.freeBox__u3EdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u3EdS > :global(.__wab_flex-container) > picture > img,
.freeBox__u3EdS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wlZB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__iumYc {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tt31VgvIOtMbi2);
  line-height: 1;
}
.text__jZcCu {
  font-size: 20px;
  color: var(--token-PmJo5m5zf2zvQB);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-dKfSGDNiS9ISuq);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__ldmBo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w4Ifl {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__wCss:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dqCIq {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___15I3C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Wdh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__mDi6I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xKbRo {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__olIpu {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__s1Awt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pUcZ7 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__l6BEl {
  height: auto;
}
.valueProp__qPPhq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0DROy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___0Gudi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dne5W {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__hvy8H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__blQh5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__ewHdZ {
  flex-direction: row;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ewHdZ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__ewHdZ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__ewHdZ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__ewHdZ > :global(.__wab_flex-container) > *,
.columns__ewHdZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ewHdZ > :global(.__wab_flex-container) > picture > img,
.columns__ewHdZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ewHdZ {
    max-width: var(--token-dKfSGDNiS9ISuq);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ewHdZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ewHdZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ewHdZ > :global(.__wab_flex-container) > *,
  .columns__ewHdZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ewHdZ > :global(.__wab_flex-container) > picture > img,
  .columns__ewHdZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__cdt44 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yi7LF {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__yi7LF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yi7LF > :global(.__wab_flex-container) > *,
.freeBox__yi7LF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yi7LF > :global(.__wab_flex-container) > picture > img,
.freeBox__yi7LF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__r7RnJ {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-wkLUzaqGwkF4nK);
}
.h2__l9LGf {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XhVFJ597n7zHuw);
  line-height: 1;
}
.text__fYvQm {
  font-size: 20px;
  color: var(--token-6UmEZZTGC5NZuq);
  line-height: 28px;
  height: auto;
}
.button__c5Eh1:global(.__wab_instance) {
  position: relative;
}
.svg___9TfXb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cj5Yx {
  color: var(--token-Z43Y9r1ihZYDZq);
}
.svg__pnPkw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-Z43Y9r1ihZYDZq);
}
.column__l4Fg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fay9K {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__x6KWg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__x6KWg:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__dYo1P {
  color: var(--token-XhVFJ597n7zHuw);
}
.svg__j3V7Q {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-wkLUzaqGwkF4nK);
}
.listItem__qOO:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xeFai {
  color: var(--token-XhVFJ597n7zHuw);
}
.svg__iOrI8 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-wkLUzaqGwkF4nK);
}
.listItem__qVbah:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7WwMg {
  height: auto;
  color: var(--token-XhVFJ597n7zHuw);
}
.svg__sxGJw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-wkLUzaqGwkF4nK);
}
.listItem__b5Bkt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nYpYl {
  height: auto;
  color: var(--token-XhVFJ597n7zHuw);
}
.svg__leGf9 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-wkLUzaqGwkF4nK);
}
.listItem__yv7Ty:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__c4LhQ {
  height: auto;
  color: var(--token-XhVFJ597n7zHuw);
}
.svg__gqXjd {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-wkLUzaqGwkF4nK);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__bfq8 {
  flex-direction: column;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__bfq8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bfq8 > :global(.__wab_flex-container) > *,
.freeBox__bfq8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfq8 > :global(.__wab_flex-container) > picture > img,
.freeBox__bfq8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfq8 {
    max-width: var(--token-dKfSGDNiS9ISuq);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfq8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfq8 > :global(.__wab_flex-container) > *,
  .freeBox__bfq8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bfq8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bfq8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___05X97 {
  flex-direction: column;
  display: flex;
}
.freeBox___05X97 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___05X97 > :global(.__wab_flex-container) > *,
.freeBox___05X97 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___05X97 > :global(.__wab_flex-container) > picture > img,
.freeBox___05X97
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__lRfXg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___6RpFx {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XhVFJ597n7zHuw);
  line-height: 1;
}
.text__rg5Zv {
  font-size: 20px;
  color: var(--token-6UmEZZTGC5NZuq);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns___95APb {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___95APb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns___95APb > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___95APb > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___95APb > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___95APb {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___95APb > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___95APb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___95APb > :global(.__wab_flex-container) > *,
  .columns___95APb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___95APb > :global(.__wab_flex-container) > picture > img,
  .columns___95APb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___1I5Hz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__igRc3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__igRc3:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__qxTOg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vi2Dj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rbNh9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tlN5 {
  height: auto;
}
.column__ro1K3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___3Uu1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__tFVzf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0UUv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__eMqM {
  height: auto;
}
.svg__x4Zqo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pviu4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___0WO {
  height: auto;
}
.svg__n7Wqo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__f2FE {
  height: auto;
}
.column__iNlr9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___6VwW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___6VwW:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp___5Jvg8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5O5J {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___060Xc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__c6N02 {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__leoPl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__leoPl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__leoPl > :global(.__wab_flex-container) > *,
.freeBox__leoPl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__leoPl > :global(.__wab_flex-container) > picture > img,
.freeBox__leoPl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__leoPl {
    position: relative;
  }
}
.text__fDAbF {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tt31VgvIOtMbi2);
  line-height: 1;
  height: auto;
}
.svg__riYs9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ruBls {
  height: auto;
  width: auto;
}
.svg__bndRh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__awY3 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__awY3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__awY3 > :global(.__wab_flex-container) > *,
.freeBox__awY3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__awY3 > :global(.__wab_flex-container) > picture > img,
.freeBox__awY3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awY3 {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awY3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awY3 > :global(.__wab_flex-container) > *,
  .freeBox__awY3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__awY3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__awY3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__azDr {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tt31VgvIOtMbi2);
  line-height: 1;
  height: auto;
}
.svg__ico5V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xpDr1 {
  height: auto;
  width: auto;
}
.svg__zjbwe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__t6MwV:global(.__wab_instance) {
  position: relative;
}
.text__cF33T {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tt31VgvIOtMbi2);
  line-height: 1;
  height: auto;
}
.svg__uR6Sa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__s87Ve {
  height: auto;
  width: auto;
}
.svg__lNUo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__uRr2R {
  flex-direction: row;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__uRr2R > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__uRr2R > :global(.__wab_flex-container) > *,
.freeBox__uRr2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uRr2R > :global(.__wab_flex-container) > picture > img,
.freeBox__uRr2R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__j1GKk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__j1GKk > picture > img {
  object-fit: cover;
}
.img__j1GKk > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aoW3 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aoW3 > picture > img {
  object-fit: cover;
}
.img__aoW3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7JY2K {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7JY2K > picture > img {
  object-fit: cover;
}
.img___7JY2K > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___9WGcn {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___9WGcn > picture > img {
  object-fit: cover;
}
.img___9WGcn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___2U7YB {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___2U7YB > picture > img {
  object-fit: cover;
}
.img___2U7YB > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__aCtoy {
  flex-direction: row;
  max-width: var(--token-dKfSGDNiS9ISuq);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__aCtoy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__aCtoy > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__aCtoy > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__aCtoy > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__aCtoy > :global(.__wab_flex-container) > *,
.columns__aCtoy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aCtoy > :global(.__wab_flex-container) > picture > img,
.columns__aCtoy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCtoy {
    max-width: var(--token-dKfSGDNiS9ISuq);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCtoy > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCtoy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aCtoy > :global(.__wab_flex-container) > *,
  .columns__aCtoy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aCtoy > :global(.__wab_flex-container) > picture > img,
  .columns__aCtoy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__o1ADn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__mvzjr:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__ipe72 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___3PyjH:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__kaxgA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__xkCki:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fUmC {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__rg2Jo {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rg2Jo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rg2Jo > :global(.__wab_flex-container) > *,
.freeBox__rg2Jo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rg2Jo > :global(.__wab_flex-container) > picture > img,
.freeBox__rg2Jo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__i6LQy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-XhVFJ597n7zHuw);
}
.text__fqJyb {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XhVFJ597n7zHuw);
  line-height: 1;
}
.text__yot11 {
  font-size: 20px;
  color: var(--token-6UmEZZTGC5NZuq);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__oqb81:global(.__wab_instance) {
  position: relative;
}
.svg__ggoYw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__s45O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__a8ZrB:global(.__wab_instance) {
  position: relative;
}
.svg__lutP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__j7HJ {
  height: auto;
  font-weight: 400;
}
.svg__wNzC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
